<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" type="text/css">

        <title>{% block title %} {% endblock %}</title>

        {% block head %}
        {% endblock %}

        <!--Bootstrap Link-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- Stylesheets use special links using flask https://stackoverflow.com/questions/13772884/css-problems-with-flask-web-app-->
        <link type = "text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        
    </head>
    <body class="home-body">
        <nav class="navbar navbar-expand-md bg-light">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <!-- DROPDOWN FORM FOR INSERTING STARTS HERE-->
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Insert Project</button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-insert">
                            <form action="/insert" method="POST" >
                                <div class="form-row" >
                                    <div class="col">
                                        <input type="text" class="form-control" name="id" placeholder="ID (9 digits or more)" required minlength="9">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" name="name" placeholder="Project Name" required minlength="3">
                                    </div>
                                </div>
                                <div class="form-row" >
                                    <div class="col">
                                        <select name="category" class="form-control" id="category" placeholder="Category" required>
                                            <option value="" selected disabled>Category</option>
                                            <option value="Comics">Comics</option>
                                            <option value="Crafts">Crafts</option>
                                            <option value="Dance">Dance</option>
                                            <option value="Fashion">Fashion</option>
                                            <option value="Film and Video">Film and Video</option>
                                            <option value="Food">Food</option>
                                            <option value="Journalism">Journalism</option>
                                            <option value="Games">Games</option>
                                            <option value="Music">Music</option>
                                            <option value="Photography">Photography</option>
                                            <option value="Publishing">Publishing</option>
                                            <option value="Technology">Technology</option>
                                            <option value="Theater">Theater</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <div class="col">
                                            <select name="country" class="form-control" id="country" required>
                                                <option value="AU">AU</option>
                                                <option value="BE">BE</option>
                                                <option value="CA">CA</option>
                                                <option value="CH">CH</option>
                                                <option value="DE">DE</option>
                                                <option value="DK">DK</option>
                                                <option value="ES">ES</option>
                                                <option value="FR">FR</option>
                                                <option value="GB">GB</option>
                                                <option value="HK">HK</option>
                                                <option value="IE">IE</option>
                                                <option value="IT">IT</option>
                                                <option value="JP">JP</option>
                                                <option value="LU">LU</option>
                                                <option value="MX">MX</option>
                                                <option value="NL">NL</option>
                                                <option value="NO">NO</option>
                                                <option value="NZ">NZ</option>
                                                <option value="SE">SE</option>
                                                <option value="SG">SG</option>
                                                <option value="US" selected>US</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <label for="launched">Launched:</label> 
                                        <input type="date" id="launched" class="form-control" name="launched" required>
                                    </div>
                                    <div class="col">
                                        <label for="deadline">Deadline:</label> 
                                        <input type="date" id="deadline" class="form-control" name="deadline" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <select name="currency" class="form-control" id="currency" required>
                                            <option value="USD" selected>USD</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control" name="goal" placeholder="Goal (USD)" required min="0" max="999999999">
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control" name="pledged" placeholder="Pledged (USD)" required min="0" max="999999999">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <select name="state" class="form-control" id="state" required>
                                            <option value="successful" selected>Successful</option>
                                            <option value="failed">Failed</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control" name="backers" placeholder="# Backers" min="0" max="999999999" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <center><button type="submit" class="btn btn-success insert-button">Insert Project</button> </center>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- DROPDOWN FORM FOR INSERTING ENDS HERE-->
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Analytics</button>
                        <div class="dropdown-menu dropdown-menu-left dropdown-menu-analytics">
                            <a class="nav-link" href="{{ url_for('countryStats') }}">By Country</a>
                            <a class="nav-link" href="{{ url_for('categoryStats') }}">By Category</a>
                            <a class="nav-link" href="{{ url_for('deadlineStats') }}">By Start/End Date</a>
                            <a class="nav-link" href="{{ url_for('successPercentage') }}">Project Success Percentage</a>
                            <a class="nav-link" href="{{ url_for('mostSuccessfulCategoryStats') }}">Most Successful Category</a>
                            <a class="nav-link" href="{{ url_for('failedTakeoffStats') }}">Failed Takeoffs</a>
                            <a class="nav-link" href="{{ url_for('fundingVersusSuccessStats') }}">Funding Vs Success</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-info" href="{{ url_for('backup') }}">Backup Data</a>
                </li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</html>