{% extends 'base.html' %}

{% block title %}Funding Versus Success Statistics{% endblock %}

{% block head %} 
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
{% endblock %}

{% block body %}
<center><a class="navbar-brand brand-font logo" href="{{ url_for('index') }}" style="font-family: 'Roboto', sans-serif; font-size: 350%;">Kickstarter Analytics</a></center>
<!-- SEARCH BAR STARTS HERE-->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="w-60">
            <form class="form-inline" action="/projects" method="GET">
                    <label class="sr-only" for="keyword">Keyword</label>
                    <input class="form-control" type="search" name="keyword" placeholder="Search">
                    <label for="filter" style="padding-left: 10px; padding-right: 10px;">Search by...</label>
                    <select class="form-control" name ="filter" id="filter">
                        <option value="id">ID</option> 
                        <option value="name"selected>Name</option>
                        <option value="main_category">Category</option>
                        <option value="currency">Currency</option>
                        <option value="backers"># of Backers</option>
                        <option value="country">Country</option>
                    </select>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <canvas id="fundingVersusSuccessStats" width="600" height="400" aria-label="Breakdown of Funding vs Success Rates in brackets" role="img"></canvas>    
</div>
<script>
var fundingVersusSuccessStatsCanvas = document.getElementById('fundingVersusSuccessStats').getContext('2d');

//https://www.patricksoftwareblog.com/creating-charts-with-chart-js-in-a-flask-application/
//https://www.chartjs.org/docs/latest/
//https://www.youtube.com/watch?v=sE08f4iuOhA
var fundingVersusSuccessStatsChart = new Chart(fundingVersusSuccessStatsCanvas, {
    //Chart options: bar, horizontalBar, pie, line, doughnut, radar, polarArea
    type: 'line', 
    data: {
        labels: [{% for fundingVersusSuccessName in fundingVersusSuccessNames %}
                     "{{fundingVersusSuccessName}}",
                     {% endfor %}
                ],
        datasets: [{
            label: 'Success Rate',
            fill: true,
            lineTension: 0.1,
            //Background color is color of the dot points
            backgroundColor: "rgba(9, 220, 9, 0.9)",
            pointRadius: 12,
            //Border color is the color of the graph line
            borderColor: "rgba(0, 0, 0, 1)",
            data : [{% for fundingVersusSuccessValue in fundingVersusSuccessValues %}
                "{{fundingVersusSuccessValue}}",
              {% endfor %}]
        }]
    },
    options: {
        title: {
            display:true,
            text:"Does The Funding Goal Influence The Project's Success Rate?",
            fontSize:25
        },
        legend: {
            display:false
        },
        scales: {
            xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Funding Brackets (USD)'
                 }
            }],
            yAxes: [{
                ticks: {
                    beginAtZero: true
                },
                scaleLabel: {
                    display: true,
                    labelString: '% Success Rate'
                 }
            }]
        }
    }
});
</script>
{% endblock %}