{% extends 'base.html' %}

{% block title %}Most Successful Category Statistics{% endblock %}

{% block head %} 
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
{% endblock %}

{% block body %}
<center><a class="navbar-brand brand-font logo" href="{{ url_for('index') }}" style="font-family: 'Roboto', sans-serif; font-size: 350%;">Kickstarter Analytics</a></center>
<!-- SEARCH BAR STARTS HERE-->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="w-60">
            <form class="form-inline" action="/projects" method="GET">
                    <label class="sr-only" for="keyword">Keyword</label>
                    <input class="form-control" type="search" name="keyword" placeholder="Search">
                    <label for="filter" style="padding-left: 10px; padding-right: 10px;">Search by...</label>
                    <select class="form-control" name ="filter" id="filter">
                        <option value="id">ID</option> 
                        <option value="name"selected>Name</option>
                        <option value="main_category">Category</option>
                        <option value="currency">Currency</option>
                        <option value="backers"># of Backers</option>
                        <option value="country">Country</option>
                    </select>
            </form>
        </div>
    </div>
</div>
<div class="container" style="height: 50%; width: 50%; padding-top: 0;">
    <canvas style="position: absolute; z-index: -1;" id="mostSuccessfulCategoryStats" width="300" height="300" aria-label="Percentage of Successes" role="img"></canvas> 
    
       
</div>
<script>
var mostSuccessfulCategoryStatsCanvas = document.getElementById('mostSuccessfulCategoryStats').getContext('2d');

//https://www.patricksoftwareblog.com/creating-charts-with-chart-js-in-a-flask-application/
//https://www.chartjs.org/docs/latest/
//https://www.youtube.com/watch?v=sE08f4iuOhA
var mostSuccessfulCategoryStatsChart = new Chart(mostSuccessfulCategoryStatsCanvas, {
    //Chart options: bar, horizontalBar, pie, line, doughnut, radar, polarArea
    type: 'bar', 
    data: {
        labels: [{% for successPercentageName in successPercentageNames %}
                     "{{successPercentageName}}",
                     {% endfor %}
                ],
        datasets: [{
            label: '% Succeeded',
            
            data : [{% for successPercentageValue in successPercentageValues %}
                "{{successPercentageValue}}",
              {% endfor %}],
            backgroundColor: [
                'rgba(180, 98, 251, .5)',
                'rgba(228, 95, 206, 1)',
                'rgba(197, 16, 97, 1)',
                'rgba(123, 169, 203, 1)',
                'rgba(24, 117, 1, 1)',
                'rgba(175, 18, 4, 0.9)',
                'rgba(239, 21, 96, 1)',
                'rgba(103, 228, 89, 1)',
                'rgba(37, 16, 83, 1)',
                'rgba(252, 193, 47, 1)',
                'rgba(75, 228, 235, 1)',
                'rgba(10, 14, 252, 1)',
                'rgba(112, 35, 5, 1)'   
            ],
            borderColor: [
                'rgba(180, 98, 251, 1)',
                'rgba(228, 95, 206, 1)',
                'rgba(197, 16, 97, 1)',
                'rgba(123, 169, 203, 1)',
                'rgba(24, 117, 1, 1)',
                'rgba(175, 18, 4, 0.9)',
                'rgba(239, 21, 96, 1)',
                'rgba(103, 228, 89, 1)',
                'rgba(37, 16, 83, 1)',
                'rgba(252, 193, 47, 1)',
                'rgba(75, 228, 235, 1)',
                'rgba(10, 14, 252, 1)',
                'rgba(112, 35, 5, 1)'

            ],
            borderWidth: 1
            
        }]
        
    },
    options: {
        title: {
            display:true,
            text:'What Is The Total Success Percentage Of All Projects?',
            fontSize:25,
            padding: 50
        },
        legend: {
            display:false
        },
        scales: {
            xAxes: [{
                ticks: {
                    beginAtZero: true
                },
                scaleLabel: {
                    display: true,
                 }
            }],
            yAxes: [{
                ticks: {
                    suggestedMin: 0,
                    suggestedMax: 100,
                    stepSize: 20
                },
                scaleLabel: {
                    display: true,
                    labelString: 'Percentage'
                 },
                 gridLines: {
                    display: false
                 }
            }]
        }
    }
});
</script>
{% endblock %}