@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

.brand-font {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.dropdown-menu-analytics {
    width: 225px;
    height: 300px;
}

.dropdown-menu-insert {
    background-color: #f2f2f2;
    width: 500px;
    height: 350px;
}

.dropdown-menu-update {
    background-color: #f2f2f2;
    width: 500px;
    height: 350px;
}

.form-control {
    margin-top: 3px;
}

.home-body {
    font-family: 'Roboto', sans-serif;
}

.home-link {
    color: white;
}

.insert-button {
    margin-top: 15px;
}

.logo{ 
    color: #5cb85c;
}

.navbar-brand {
    font-size: 2rem;
}

.nav-link {
    color: #202020;
}

.response {
    color: #202020;
}

.site-message {
    font-family: 'Roboto', sans-serif; 
    color:#666666;
    padding-top: 20px;
    padding-bottom: 20px;
}

.update-button {
    margin-top: 15px;
}